.RoomBtn {
    background-color: #0000;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}

.RoomBtn:hover {
    background-color: black;
    color: white;
}

.CreateRoomBtn {
    margin-right: 10px;
}

.JoinRoomBtn {
    margin-left: 10px;
}

.Cursor{
    cursor: pointer;
}

@media (max-width: 768px) {
    .CreateRoomBtn {
        margin-right: 0px;
        margin-bottom: 10px;
    }
    .JoinRoomBtn {
        margin-left: 0px;        
        margin-top: 10px;
    }
}