.HomeRowHead {
    background-color: #B300B3;
    /* background-color: #00b3b3; */
    /* background-color: #007d7d; */
    color: white;
}

.ChatOptionsHome {
    border: 1px solid #B300B3;
    /* color: #d580ff; */
    color: #B300B3;
    /* border: 1px solid #00b3b3; */
    /* border: 1px solid #007d7d; */
}

.text-primary {
    color: #B300B3 !important;
}

.text-secondary {
    color: #54007d !important;
}

.bg-primary {
    background-color: #B300B3 !important;
}

.bg-secondary{
    background-color: #FCF5FF !important;
}